<a href="https://colab.research.google.com/github/aleighcar/the-kings-pantry/blob/main/Kings_Pantry_SQL_Workbook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ‚ú® The King‚Äôs Pantry SQL Workbook
**Author:** Ardonna Cardines (Mercury Musings)  
**Dataset:** `the_kings_pantry` (ANSI SQL; runs on MySQL and SQL Server)

> *Prologue ‚Äî The Royal Ledger Awakens*  
> In the storerooms beneath the castle, you find a ledger older than the throne itself.  

> Columns inked in tidy hands; rows etched like trade routes across the realm.
  
> Today, we learn to read it ‚Äî and more importantly, to ask it better questions.

---

## üß± Chapter I ‚Äî Apprentices of the Realm
*The apprentices gather in the candlelit hall, parchment scattered, quills poised. Each query is a new spell ‚Äî a whisper in the ledger of the realm.*  

**Focus:** SELECT, WHERE, ORDER BY, DISTINCT, LIMIT/FETCH, simple expressions.

### Exercise 1 ‚Äî Vendors of The North

**Objective:** Filter rows with WHERE

Retrieve all vendors located in **The North**. Show `vendor_name` and `region`.

In [ ]:
SELECT vendor_name, region
FROM vendor
WHERE region = 'The North';

### Exercise 2 ‚Äî Private Label Brands (first five)

**Objective:** Limit results and select specific columns

List the first five private label brands with `brand_name` and `private_label_tier`.

In [ ]:
SELECT brand_name, private_label_tier
FROM brand
WHERE brand_type = 'Private Label'
ORDER BY brand_name
FETCH FIRST 5 ROWS ONLY;

### Exercise 3 ‚Äî Pantry Essentials Catalog

**Objective:** Filter by category

Show `product_name`, `item_taxonomy_1`, `item_taxonomy_2`, `base_price` for products in **Pantry Essentials**.

In [ ]:
SELECT product_name, item_taxonomy_1, item_taxonomy_2, base_price
FROM product
WHERE item_taxonomy_1 = 'Pantry Essentials'
ORDER BY product_name;

### Exercise 4 ‚Äî Highest Margin SKUs

**Objective:** Sort descending by a numeric column

Return top 10 products by `margin_percentage`.

In [ ]:
SELECT product_id, product_name, margin_percentage
FROM product
ORDER BY margin_percentage DESC
FETCH FIRST 10 ROWS ONLY;

### Exercise 5 ‚Äî Discontinued Products

**Objective:** Boolean flag filters

List `product_id`, `product_name` where `is_discontinued_flag = 1`.

In [ ]:
SELECT product_id, product_name
FROM product
WHERE is_discontinued_flag = 1
ORDER BY product_id;

### Exercise 6 ‚Äî Active Vendor Count

**Objective:** Aggregate count with simple filter

Count how many vendors are currently active (`is_active_flag = 1`).

In [ ]:
SELECT COUNT(*) AS active_vendor_count
FROM vendor
WHERE is_active_flag = 1;

### Exercise 7 ‚Äî Distinct Departments

**Objective:** SELECT DISTINCT for categorical exploration

Show distinct values of `item_taxonomy_1` from `product`.

In [ ]:
SELECT DISTINCT item_taxonomy_1
FROM product
ORDER BY item_taxonomy_1;

### Exercise 8 ‚Äî Customers in Dorne

**Objective:** Basic filtering by realm

Return `first_name`, `last_name`, `realm` for customers in **Dorne**.

In [ ]:
SELECT first_name, last_name, realm
FROM customer
WHERE realm = 'Dorne'
ORDER BY last_name, first_name;

### Exercise 9 ‚Äî Price vs Cost

**Objective:** Derived columns with arithmetic

For each product, show `product_name`, `base_price`, `landed_cost`, and a column `price_minus_cost`.

In [ ]:
SELECT product_name, base_price, landed_cost,
       (base_price - landed_cost) AS price_minus_cost
FROM product
ORDER BY price_minus_cost DESC;

### Exercise 10 ‚Äî Filter by Unit Size

**Objective:** Text equality

List all products sold in `16 oz` packaging.

In [ ]:
SELECT product_id, product_name, unit_size
FROM product
WHERE unit_size = '16 oz'
ORDER BY product_id;

## ‚öîÔ∏è Chapter II ‚Äî Knights of the Query
*Steel meets parchment. Patterns reveal themselves in the clatter of counts and sums.  
Across guilds and houses, truths align under the weight of aggregation.*

**Focus:** GROUP BY, JOINs, CASE expressions, HAVING, subqueries, conditional aggregation.

### Exercise 11 ‚Äî Vendors by Region

**Objective:** GROUP BY counts

Count vendors by `region`.

In [ ]:
SELECT region, COUNT(*) AS vendor_count
FROM vendor
GROUP BY region
ORDER BY vendor_count DESC;

### Exercise 12 ‚Äî Average Margin by Brand

**Objective:** GROUP BY averages

Show average `margin_percentage` per `brand_name` for active products.

In [ ]:
SELECT brand_name, AVG(margin_percentage) AS avg_margin_pct
FROM product
WHERE is_active_flag = 1
GROUP BY brand_name
ORDER BY avg_margin_pct DESC;

### Exercise 13 ‚Äî Products with Vendor Names

**Objective:** JOIN product to vendor

List `product_name` with its `vendor_name` (only vendor-sourced SKUs).

In [ ]:
SELECT p.product_name, v.vendor_name
FROM product p
JOIN vendor v
  ON p.vendor_id = v.vendor_id
ORDER BY v.vendor_name, p.product_name;

### Exercise 14 ‚Äî Most Expensive SKU per Brand

**Objective:** MAX per group

Show `brand_name` and its maximum `base_price`.

In [ ]:
SELECT brand_name, MAX(base_price) AS max_base_price
FROM product
GROUP BY brand_name
ORDER BY max_base_price DESC;

### Exercise 15 ‚Äî Private Label vs Vendor SKUs

**Objective:** Boolean aggregation

Count SKUs grouped by `is_private_label`.

In [ ]:
SELECT is_private_label, COUNT(*) AS sku_count
FROM product
GROUP BY is_private_label
ORDER BY is_private_label DESC;

### Exercise 16 ‚Äî Top Brands by Average Margin

**Objective:** Aggregate + order + limit

Return the top 5 brands by average margin percentage.

In [ ]:
SELECT brand_name, AVG(margin_percentage) AS avg_margin_pct
FROM product
GROUP BY brand_name
ORDER BY avg_margin_pct DESC
FETCH FIRST 5 ROWS ONLY;

### Exercise 17 ‚Äî Cheapest Product per Category (Subquery)

**Objective:** Correlated subquery

For each `item_taxonomy_1`, return the product with the minimum `base_price`.

In [ ]:
SELECT p1.item_taxonomy_1, p1.product_id, p1.product_name, p1.base_price
FROM product p1
WHERE p1.base_price = (
  SELECT MIN(p2.base_price)
  FROM product p2
  WHERE p2.item_taxonomy_1 = p1.item_taxonomy_1
)
ORDER BY p1.item_taxonomy_1, p1.base_price;

### Exercise 18 ‚Äî Landed vs Purchase Cost by Vendor

**Objective:** JOIN + math + GROUP BY

For vendor-sourced SKUs, compute average `landed_cost - purchase_cost` per vendor.

In [ ]:
SELECT v.vendor_name,
       AVG(p.landed_cost - p.purchase_cost) AS avg_landed_minus_purchase
FROM product p
JOIN vendor v
  ON p.vendor_id = v.vendor_id
GROUP BY v.vendor_name
ORDER BY avg_landed_minus_purchase DESC;

### Exercise 19 ‚Äî Active vs Inactive Customers by Realm

**Objective:** Conditional aggregation with CASE

For each realm, count active vs inactive customers using `is_active_flag`.

In [ ]:
SELECT realm,
       SUM(CASE WHEN is_active_flag = 1 THEN 1 ELSE 0 END) AS active_customers,
       SUM(CASE WHEN is_active_flag <> 1 THEN 1 ELSE 0 END) AS inactive_customers
FROM customer
GROUP BY realm
ORDER BY active_customers DESC;

### Exercise 20 ‚Äî Duplicate Product Names

**Objective:** HAVING with counts

Find any product names that appear more than once.

In [ ]:
SELECT product_name, COUNT(*) AS name_count
FROM product
GROUP BY product_name
HAVING COUNT(*) > 1
ORDER BY name_count DESC, product_name;

## üß¨ Chapter III ‚Äî Archmaesters of Data
*By moonlight in the Citadel, the learned write queries that bend time and lineage.  
Hierarchies, windows, and with them: foresight.*

**Focus:** CTEs, window functions (where supported), self-joins, ranking, analytical views.

### Exercise 21 ‚Äî Parent and Child Customers

**Objective:** Self-join on parent_customer_id

Show each customer and their parent customer (if any).

In [ ]:
SELECT c.customer_id,
       c.first_name || ' ' || c.last_name AS customer_name,
       p.customer_id AS parent_id,
       p.first_name || ' ' || p.last_name AS parent_name
FROM customer c
LEFT JOIN customer p
  ON c.parent_customer_id = p.customer_id
ORDER BY parent_id NULLS FIRST, customer_name;

### Exercise 22 ‚Äî Running Total Sales by Order Date

**Objective:** Analytical running sum (ANSI standard window)

Compute running total of `order_total` by `order_date`.

In [ ]:
SELECT order_date,
       SUM(order_total) OVER (ORDER BY order_date
                              ROWS BETWEEN UNBOUNDED PRECEDING AND CURRENT ROW) AS running_order_total
FROM sales_order
WHERE order_total IS NOT NULL
ORDER BY order_date;

### Exercise 23 ‚Äî Rank Brands by Total Net Sales

**Objective:** Join fact + dim and rank using window

Calculate total `net_sales` per brand (via product) and rank descending.

In [ ]:
WITH brand_sales AS (
  SELECT p.brand_name,
         SUM(sod.net_sales) AS total_net_sales
  FROM sales_order_details sod
  JOIN product p
    ON sod.product_id = p.product_id
  GROUP BY p.brand_name
)
SELECT brand_name,
       total_net_sales,
       RANK() OVER (ORDER BY total_net_sales DESC) AS sales_rank
FROM brand_sales
ORDER BY sales_rank;

### Exercise 24 ‚Äî Revenue by Brand Type

**Objective:** Join through brand to group by brand_type

Compute net revenue grouped by `brand_type` (Private Label vs Vendor).

In [ ]:
SELECT b.brand_type,
       SUM(sod.net_sales) AS total_revenue
FROM sales_order_details sod
JOIN product p
  ON sod.product_id = p.product_id
JOIN brand b
  ON p.brand_id = b.brand_id
GROUP BY b.brand_type
ORDER BY total_revenue DESC;

### Exercise 25 ‚Äî Monthly Margin Totals

**Objective:** Date grouping

Aggregate total `margin` by calendar month from `sales_order_details` joined to `sales_order`.

In [ ]:
SELECT EXTRACT(YEAR FROM so.order_date) AS yr,
       EXTRACT(MONTH FROM so.order_date) AS mo,
       SUM(sod.margin) AS total_margin
FROM sales_order_details sod
JOIN sales_order so
  ON sod.sales_order_id = so.sales_order_id
GROUP BY EXTRACT(YEAR FROM so.order_date), EXTRACT(MONTH FROM so.order_date)
ORDER BY yr, mo;

### Exercise 26 ‚Äî Top 3 Vendors by Net Sales

**Objective:** Windowed row_number for top-N per entire set

Return the top 3 vendors by total net sales.

In [ ]:
WITH vendor_sales AS (
  SELECT v.vendor_name, SUM(sod.net_sales) AS total_sales
  FROM sales_order_details sod
  JOIN product p
    ON sod.product_id = p.product_id
  JOIN vendor v
    ON p.vendor_id = v.vendor_id
  GROUP BY v.vendor_name
)
SELECT vendor_name, total_sales
FROM (
  SELECT vendor_name, total_sales,
         ROW_NUMBER() OVER (ORDER BY total_sales DESC) AS rn
  FROM vendor_sales
) t
WHERE rn <= 3
ORDER BY total_sales DESC;

### Exercise 27 ‚Äî High-Margin SKUs (CTE)

**Objective:** CTE + filter then select

Create a CTE of SKUs with `margin_percentage > 50` and list vendor + product.

In [ ]:
WITH high_margin AS (
  SELECT product_id, product_name, brand_name, margin_percentage, vendor_id
  FROM product
  WHERE margin_percentage > 50
)
SELECT h.product_id, h.product_name, v.vendor_name, h.margin_percentage
FROM high_margin h
LEFT JOIN vendor v
  ON h.vendor_id = v.vendor_id
ORDER BY h.margin_percentage DESC;

### Exercise 28 ‚Äî Private Label Share by Category

**Objective:** Within-category share calculation

For each `item_taxonomy_1`, compute private label share of total net sales.

In [ ]:
WITH cat_sales AS (
  SELECT p.item_taxonomy_1 AS category,
         SUM(sod.net_sales) AS total_sales,
         SUM(CASE WHEN p.is_private_label = 1 THEN sod.net_sales ELSE 0 END) AS pl_sales
  FROM sales_order_details sod
  JOIN product p
    ON sod.product_id = p.product_id
  GROUP BY p.item_taxonomy_1
)
SELECT category,
       pl_sales,
       total_sales,
       CASE WHEN total_sales > 0 THEN (pl_sales * 1.0) / total_sales ELSE 0 END AS private_label_share
FROM cat_sales
ORDER BY private_label_share DESC;

### Exercise 29 ‚Äî Multi-Category Customers

**Objective:** Customer breadth using count distinct

Find customers who bought from more than one top-level category.

In [ ]:
SELECT so.customer_id,
       COUNT(DISTINCT p.item_taxonomy_1) AS distinct_categories
FROM sales_order_details sod
JOIN product p
  ON sod.product_id = p.product_id
JOIN sales_order so
  ON sod.sales_order_id = so.sales_order_id
GROUP BY so.customer_id
HAVING COUNT(DISTINCT p.item_taxonomy_1) > 1
ORDER BY distinct_categories DESC, so.customer_id;

### Exercise 30 ‚Äî Build FactSales View

**Objective:** Star-join the core sales entities

Create a view that joins order headers, order lines, products, brands, vendors, and customers.

In [ ]:
-- Depending on your permissions, you may need to DROP VIEW first.
-- This statement is ANSI-friendly; if your dialect differs, adjust CREATE OR REPLACE accordingly.
CREATE VIEW fact_sales AS
SELECT
  sod.sales_order_detail_id,
  sod.sales_order_id,
  so.order_date,
  so.customer_id,
  c.first_name AS customer_first_name,
  c.last_name  AS customer_last_name,
  c.realm,
  p.product_id,
  p.product_name,
  p.item_taxonomy_1 AS category,
  p.item_taxonomy_2 AS subcategory,
  p.brand_id,
  b.brand_name,
  b.brand_type,
  p.vendor_id,
  v.vendor_name,
  sod.quantity_ordered,
  sod.unit_price,
  sod.discount_pct,
  sod.discount_per_unit,
  sod.line_subtotal,
  sod.line_tax,
  sod.net_sales,
  sod.margin
FROM sales_order_details sod
LEFT JOIN sales_order so
  ON sod.sales_order_id = so.sales_order_id
LEFT JOIN customer c
  ON so.customer_id = c.customer_id
LEFT JOIN product p
  ON sod.product_id = p.product_id
LEFT JOIN brand b
  ON p.brand_id = b.brand_id
LEFT JOIN vendor v
  ON p.vendor_id = v.vendor_id;


---

## Epilogue
You‚Äôve walked the length of the ledger and back again.  
Carry these queries into any realm that needs clarity.

**The Mercury Brand System | mercurymusings.com**