<a href="https://colab.research.google.com/github/ardonna-mm/the-kings-pantry/blob/main/Kings_Pantry_SQL_Workbook_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# üè∞ The King's Pantry SQL Colab Notebook I ‚Äî The Squire‚Äôs Path

**Author:** Ardonna Cardines (Mercury Musings)  
**Dataset:** [the_kings_pantry](https://github.com/ardonna-mm/the-kings-pantry) *(ANSI SQL; compatible with MySQL and SQL Server)*  

**Prologue ‚Äî The Royal Ledger Awakens**  
In the storerooms beneath the castle, you find a ledger older than the throne itself. Columns inked in tidy hands; rows etched like trade routes across the realm.  

Today, we learn to read it ‚Äî and more importantly, to ask it better questions.  

---

### üß≠ About This Notebook  
This notebook is a **guided SQL workbook** for analysts who love storytelling and structure. All setup is handled for you ‚Äî just run each cell in order.  

You‚Äôll learn how to:  

- SELECT
- WHERE
- ORDER BY
- DISTINCT
- Simple filters

**No setup required.** Everything runs in this notebook.  

---

**Once you master this notebook, check out:**  
üëâ *The King‚Äôs Pantry: Lord Commander of the Kingsguard*

You‚Äôll learn:

- JOINs
- GROUP BY
- CASE
- Subqueries
- Aggregate logic

You'll be challenged to:
- Manually data load
- Less code walkthroughs

In [ ]:
# üèóÔ∏è STEP 1: Load The King's Pantry Realm
# -------------------------------------------------------------
# This cell installs dependencies and loads all CSV data automatically.
# Once you see the ‚úÖ message, your realm is ready to explore.

!pip install duckdb pandas -q

import duckdb
import pandas as pd

base_url = "https://raw.githubusercontent.com/ardonna-mm/the-kings-pantry/main/data/"

tables = {
    "products": "product.csv",
    "vendors": "vendor.csv",
    "customers": "customer.csv",
    "sales_orders": "sales_order.csv",
    "sales_order_details": "sales_order_details.csv"
}

for name, file in tables.items():
    df = pd.read_csv(base_url + file)
    duckdb.register(name, df)

print("‚úÖ Realm initialized! Your data is ready to query.")
print("Available tables: products, vendors, customers, sales_orders, sales_order_details")


## üß± Squires of the Realm
*The squires gather in the candlelit hall, parchment scattered, quills poised. Each query is a new spell ‚Äî a whisper in the ledger of the realm.*  

**Focus:** SELECT, WHERE, ORDER BY, DISTINCT, LIMIT/FETCH, simple expressions.

### ‚ò†Ô∏è Quest 1 ‚Äî Vendors of The North

**Objective:** Filter rows with WHERE

Retrieve all vendors located in **The North**. Show `vendor_name` and `region`.

In [ ]:
SELECT vendor_name, region
FROM vendor
WHERE region = 'The North';

### üëΩ Quest 2 ‚Äî Private Label Brands (first five)

**Objective:** Limit results and select specific columns

List the first five private label brands with `brand_name` and `private_label_tier`.

In [ ]:
SELECT brand_name, private_label_tier
FROM brand
WHERE brand_type = 'Private Label'
ORDER BY brand_name
FETCH FIRST 5 ROWS ONLY;

### üéÉ Quest 3 ‚Äî Pantry Essentials Catalog

**Objective:** Filter by category

Show `product_name`, `item_taxonomy_1`, `item_taxonomy_2`, `base_price` for products in **Pantry Essentials**.

In [ ]:
SELECT product_name, item_taxonomy_1, item_taxonomy_2, base_price
FROM product
WHERE item_taxonomy_1 = 'Pantry Essentials'
ORDER BY product_name;

### üôÄ Quest 4 ‚Äî Highest Margin SKUs

**Objective:** Sort descending by a numeric column

Return top 10 products by `margin_percentage`.

In [ ]:
SELECT product_id, product_name, margin_percentage
FROM product
ORDER BY margin_percentage DESC
FETCH FIRST 10 ROWS ONLY;

### üíÄ Quest 5 ‚Äî Discontinued Products

**Objective:** Boolean flag filters

List `product_id`, `product_name` where `is_discontinued_flag = 1`.

In [ ]:
SELECT product_id, product_name
FROM product
WHERE is_discontinued_flag = 1
ORDER BY product_id;

### ü™≠ Quest 6 ‚Äî Active Vendor Count

**Objective:** Aggregate count with simple filter

Count how many vendors are currently active (`is_active_flag = 1`).

In [ ]:
SELECT COUNT(*) AS active_vendor_count
FROM vendor
WHERE is_active_flag = 1;

### üé© Quest 7 ‚Äî Distinct Departments

**Objective:** SELECT DISTINCT for categorical exploration

Show distinct values of `item_taxonomy_1` from `product`.

In [ ]:
SELECT DISTINCT item_taxonomy_1
FROM product
ORDER BY item_taxonomy_1;

### üë©‚Äçüë©‚Äçüëß‚Äçüëß Quest 8 ‚Äî Customers in Dorne

**Objective:** Basic filtering by realm

Return `first_name`, `last_name`, `realm` for customers in **Dorne**.

In [ ]:
SELECT first_name, last_name, realm
FROM customer
WHERE realm = 'Dorne'
ORDER BY last_name, first_name;

### ü´Öüèª Quest 9 ‚Äî Price vs Cost

**Objective:** Derived columns with arithmetic

For each product, show `product_name`, `base_price`, `landed_cost`, and a column `price_minus_cost`.

In [ ]:
SELECT product_name, base_price, landed_cost,
       (base_price - landed_cost) AS price_minus_cost
FROM product
ORDER BY price_minus_cost DESC;

### ‚òïÔ∏è Quest 10 ‚Äî Filter by Unit Size

**Objective:** Text equality

List all products sold in `16 oz` packaging.

In [ ]:
SELECT product_id, product_name, unit_size
FROM product
WHERE unit_size = '16 oz'
ORDER BY product_id;

### üè∞ Quest 11 ‚Äî The Royal Menu  
**Objective:** DISTINCT and ORDER BY  
List all unique product categories in the realm, sorted alphabetically.

In [ ]:
SELECT DISTINCT item_taxonomy_1
FROM product
ORDER BY item_taxonomy_1;

### üí∞ Quest 12 ‚Äî The Coin Counter  
**Objective:** Derived columns with arithmetic  
For each product, calculate its potential gross revenue (`base_price * 100` as a placeholder for quantity).

In [ ]:
SELECT product_name,
       base_price,
       (base_price * 100) AS gross_potential
FROM product
ORDER BY gross_potential DESC;

### üå® Quest 13 ‚Äî The Northern Vendors  
**Objective:** Text matching with LIKE  
Find all vendors whose region includes ‚ÄúNorth.‚Äù

In [ ]:
SELECT vendor_name, region
FROM vendor
WHERE region LIKE '%North%';

### üìú Quest 14 ‚Äî The Royal Ledger Review  
**Objective:** Filtering and sorting numeric columns  
Show all sales orders with a total greater than 100 gold coins, sorted from highest to lowest total.

In [ ]:
SELECT realm, COUNT(*) AS total_customers
FROM customer
GROUP BY realm
ORDER BY total_customers DESC;

### ü§ù Quest 15 ‚Äî The Loyal Houses  
**Objective:** GROUP BY and COUNT  
Count how many customers belong to each realm.

In [ ]:
SELECT realm, COUNT(*) AS total_customers
FROM customer
GROUP BY realm
ORDER BY total_customers DESC;


## üèÅ Epilogue ‚Äî The Ledger Closes  

Your journey through *The King‚Äôs Pantry* is complete.  

But the story doesn‚Äôt end here ‚Äî check out the next course 'Lord of the Kingsguard' where you'll learn:

You‚Äôll learn:

- JOINs
- GROUP BY
- CASE
- Subqueries
- Aggregate logic

You'll be challenged to:
- Manually data load
- Less code walkthroughs


**Achievement Unlocked:** *Squire Analyst of the Realm* üßô‚Äç‚ôÄÔ∏è  

**The Mercury Brand System** | [mercurymusings.com](https://mercurymusings.com)